header {
    background: #45517D;
    color: white;
    font-size: 120%;
    text-align: right;
    height: 60px;
}

#lewy {
    background: #61B2EC;
    width: 40%;
    height: 500px;
    float: left;
}

#prawy {
    background: #8EC9F2;
    width: 60%;
    height: 500px;
    float: left;
}

footer {
    background: #45517D;
    color: white;
    font-size: 150%;
    text-align: center;
    clear: both;
}

a {
    color: orange;
}

a:visited {
    color: green;
}

table {
    width: 100%;
}