#naglowek1{
    width: 60%;
    border: 2%;
    border-style: dotted;
    border-color: blueviolet;
    float: left;
}
#naglowek2{
    width: 39%;
    border: 2%;
    border-style: dotted;
    border-color: greenyellow;
    float: left;
}
#blok1{
    float: left;
    width: 50%;
}
#laczenie{
    float: left;
    width: 48%;
    border: 2%;
    border-style: dotted;
    border-color: aqua;
    }
#blok2, #blok3{
    border: 2%;
    border-style: dotted;
    border-color: brown;
}
footer{
    border: 3%;
    border-style: dotted;
    border-color: darkblue;
    clear: both;
}